/* Get rid of ugly hover state on ConvertKit modal close 'x' */
.seva-modal .formkit-close:hover, .formkit-modal .formkit-close:hover {
  background-color: transparent !important;
}

.site-masthead, .cta {
  color: $light-text-color;
}

/* Style header on posts */
.site-masthead .smol-header {
  font-size: 2em;
  font-style: italic;
}

.site-masthead .smol-header a {
  text-decoration: none;
  color: $light-text-color;
}

@media (max-width: 472px) {
  .site-masthead .smol-header {
    font-size: 1.6em;
  }
}

.footer-cta {
  max-width: 960px;
  margin: 24px 20px;
  background-color: #3E3E3C;
  border-radius: 80px;
  padding: 20px 60px;
  color: #E8E9C9;
}

.footer-cta a {
  color: #E8E9C9;
}

/* Actually style blockquotes, come on man */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote > * {
  padding: 0 1em;
}

.post blockquote > p:last-of-type {
  margin-bottom: 0px;
}
